<div class="container">
    <div class="row">
        <div class="col">
            <select class="form-select form-select-sm" aria-label=".form-select-lg" id="treatment_list">
                <option selected>Válasszon kezelést</option>
                {% for treatment in treatments %}
                    <option value="{{ treatment.id }}">{{ treatment.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success btn-sm" id="save_treatment">Rögzítés</button>
        </div>
    </div>
    <div class="row mt-1" id="list_inventions">
        {{ render(url( 'app_list_inventions' )) }}
    </div>
</div>
<script>
    $('#save_treatment').click(function(){
        teethList = [];
        $('.cb_teeth:checkbox:checked').each(function(){
            teethList.push( $(this).attr('tdid') );
        });
        console.log($('#treatment_list').val());

        $.ajax({
            url: "/save_intervetion",
            method: "POST",
            data: {treatment: $('#treatment_list').val(), teeth: teethList}
        }).done(function() {
            $.get("/list_inventions", function( data ) {
                $('#list_inventions').html( data );
            });
            //@TODO: load the invention into list on the left side!!!
        });
    });

    $('.invention_btn').click(function(){
        $.ajax({
            url: "/listTeethByInventions",
            method: "POST",
            data: {treatment_id: $(this).attr('id')}
        }).done(function(data) {
            initTeeth();
            console.log(data);
            $.each(data, function(index, item){
                $('#teethListTable #cb_teeth_'+item.id).prop( "checked", true );
                $('#teethListTable #'+item.id).addClass('selected_td');
            });
        });
    });

    function initTeeth(){
        $('#teethListTable .cb_teeth').prop( "checked", false );
        $('#teethListTable td').removeClass('selected_td');
    }
</script>