<div class="container">
    <div class="row">
        <div class="col">
            <select class="form-select form-select-sm" aria-label=".form-select-lg" id="treatment_list">
                <option selected>Válasszon kezelést</option>
                {% for treatment in treatments %}
                    <option value="{{ treatment.id }}">{{ treatment.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success btn-sm" id="save_treatment">Rögzítés</button>
        </div>
    </div>
    <div class="row mt-1" id="list_inventions">
        {{ render(url( 'app_list_inventions' )) }}
    </div>
</div>
